#### 리스트 자료형 생성하기

In [1]:
# 5명의 학생에 대한 성적 나열.
grade = [98, 82, 73, 64, 100]
print(grade)

[98, 82, 73, 64, 100]

In [2]:
# 각 학생의 이름에 대한 나열
names = ["철수", "영희", "나영", "민식", "호영"]
print(names)

['철수', '영희', '나영', '민식', '호영']

In [3]:
# 서로다른 자료형들을 함께 사용가능
stud1 = ["철수", 98]
stud2 = ["영희", 82]
stud3 = ["나영", 73]

print(stud1)
print(stud2)
print(stud3)

['철수', 98]
['영희', 82]
['나영', 73]

#### 인덱스 번호를 통해 리스트의 각 원소 사용하기

In [4]:
# 인덱스 번호를 통해 각 원소에 접근
name = stud1[0]
point = stud1[1]
print(name)
print(point)

철수
98

In [5]:
# 값의 변경
stud1[0] = "철호"
stud1[1] = 100
print(stud1)

['철호', 100]

In [6]:
# 리스트의 원소를 직접 출력하는 활용예시
msg = "{0}(이)의 점수는 {1}점입니다."
print(msg.format(stud1[0], stud1[1]))
print(msg.format(stud2[0], stud2[1]))
print(msg.format(stud3[0], stud3[1]))

철호(이)의 점수는 100점입니다.
영희(이)의 점수는 82점입니다.
나영(이)의 점수는 73점입니다.

####  2차원 리스트의 생성

In [7]:
# 각 학생별 이름, 점수 정의
stud1 = ["철수", 98]
stud2 = ["영희", 82]
stud3 = ["나영", 73]

# 2차원 리스트 -> 새로운 리스트 sutd-group의 각원소가 리스트가 되는 형태
stud_group = [stud1, stud2, stud3]
print(stud_group)

[['철수', 98], ['영희', 82], ['나영', 73]]

In [8]:
# 2차원 리스트 일괄 생성
grade = [
    ["민식", 64],
    ["호영", 100]
]
print(grade)

[['민식', 64], ['호영', 100]]

#### 각원소에 접근하여 출력

In [9]:
# 1차원 원소에 접근하기
print(stud_group[0])
print(stud_group[1])

['철수', 98]
['영희', 82]

In [10]:
# 2차원 원소에 접근하기
print(stud_group[0][0])
print(stud_group[0][1])
print(stud_group[1][0])
print(stud_group[1][1])

철수
98
영희
82

#### 리스트의 인덱싱

In [11]:
mylist = [10, 20, 30, 40, 50]

In [12]:
# 1번째 원소에 접근 -> 0부터 카운트
print(mylist[1])

20

In [13]:
# 뒤에서 1번째 원소에 접근 -> 1부터 카운트
print(mylist[-1])

50

#### 리스트의 슬라이싱(1)

In [14]:
mylist = [60, 70, 80, 90, 100]

In [15]:
# list에서 1번째 부터 3번째 전까지 -> 3번째 원소포함안됨
print(mylist[1:3])

[70, 80]

In [16]:
# 처음부터 3번째 전까지 --> 3번째 원소 포함안됨
print(mylist[:3])

[60, 70, 80]

In [17]:
# list[3]부터 끝까지 -> 3번째 원소 포함됨
print(mylist[3:])

[90, 100]

#### 리스트의 슬라이싱(2)

In [18]:
# list의 모든원소
print(mylist[:])

[60, 70, 80, 90, 100]

In [19]:
# list에서 1번째부터 뒤에서 부터 2번쨰 다음까지
# --> 마이너스 값을 사용하여 지정할경우 "다음까지"의 의미
print(mylist[1:-2])

[70, 80]

#### 리스트의 연산

In [20]:
# 실습을 위한 리스트 정의
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [21]:
# 리스트끼리의 덧셈은 단순 병합
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [22]:
# 리스트와 정수의 곱셈은 동일 내용을 반복한다.
list4 = list1 * 3
print(list4)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 리스트의 원소 수정하기

In [23]:
# 대입연산자를 이용한 단일 값 수정
mylist = [1, 2, 3]
mylist[2] = 4
print(mylist)

[1, 2, 4]

In [24]:
# 대입연산자를 이용하여 주어진 범위를 수정
mylist =  [1, 2, 3]
mylist[1:3] = [20, 30]
print(mylist)

[1, 20, 30]

#### 리스트의 확장, 축소 (1)

In [25]:
# 주어진 범위보다 작은 개수를 갖는 리스트 지정 --> 리스트가 짤림
mylist = [1, 2, 3]
mylist[1:3] = [1000]
print(mylist)

[1, 1000]

In [26]:
# 주어진 범위보다 많은 개수를 갖는 리스트 지정 --> 리스트가 확장
mylist = [1, 2, 3]
mylist[1:2] = [7, 8 ,9, 0]
print(mylist)

[1, 7, 8, 9, 0, 3]

#### 리스트의 확장, 축소 (2)

In [27]:
# 인덱싱으로 접근하는 경우 -> 단순삽입
# -> 1번째 원소에 다른 리스트 "삽입"
mylist = [1, 2, 3, 4, 5]
print(mylist)

mylist[1] = [100, 200]
print(mylist)

[1, 2, 3, 4, 5]
[1, [100, 200], 3, 4, 5]

In [28]:
# 슬라이싱으로 접근하는 경우 -> 주어진범위를 "확장"
# -> 1번째 위치에는 100이 저장, 그다음 원소에 200이 저장
# 원래의 2번째 위치로부터는 뒤로 밀려난다.
mylist = [1, 2, 3, 4, 5]
print(mylist)

mylist[1:2] = [100, 200]
print(mylist)

[1, 2, 3, 4, 5]
[1, 100, 200, 3, 4, 5]

#### 리스트의 원소 삭제

In [29]:
# 특정 위치의 원소 삭제
# -> 삭제 후 빈자리가 매워짐
mylist = [1, 2, 3, 4, 5]
del(mylist[1])
print(mylist)

[1, 3, 4, 5]

In [30]:
# 특정범위 (1번부터 3번째 전까지)의 원소 삭제
# -> 삭제 후 빈자리가 매워짐
mylist = [1, 2, 3, 4, 5]
del(mylist[1:3])
print(mylist)

[1, 4, 5]

In [31]:
# 특정 범위를 삭제하는 또다른 방법
mylist = [1, 2, 3, 4, 5]
mylist[1:3] = []
print(mylist)

[1, 4, 5]

#### 리스트의 원소 세기

In [32]:
# 전체원소의 개수 조회
my_list = [1, 2, 3]
size = len(my_list)
print(size)

3

In [33]:
# 주어진 값과 일치하는 원소의 개수 세기
my_list = [1, 2, 3, 2]
c = my_list.count(2)
print(c)

2

In [34]:
# 해당 값이 가장 처음 나타나는 위치(인덱스 반환)
my_list = [1, 2, 3, 10, 1, 2, 3, 10]
x = my_list.index(10)
print(x)

3

#### 리스트의 원소 추가

In [35]:
# 맨 뒤에 내용 추가
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [36]:
# 리스트를 append할 경우 2차 리스트로 삽입.
my_list = [1, 2, 3]
my_list.append([5, 6])
print(my_list)

[1, 2, 3, [5, 6]]

In [37]:
# 중간삽입
# -> 1번째 위치에 10을 삽입. 기존항목들은 뒤로 밀려난다.
my_list = [1, 2, 3]
my_list.insert(1, 10)
print(my_list)

[1, 10, 2, 3]

#### 리스트의 확장

In [38]:
# extend() 함수를 호출한 원본에 파라미터로 전달된 리스트를 덧붙인다.
my_list = [1, 2, 3]
addon = [10, 9, 8, 7]
my_list.extend(addon)
print(my_list)

[1, 2, 3, 10, 9, 8, 7]

#### 리스트의 원소삭제

In [39]:
# 맨 마지막 요소를 꺼내고 삭제
# --> 마지막 요소를 리턴한다,
my_list = [1, 2, 3]
k = my_list.pop()
print(k)
print(my_list)

3
[1, 2]

In [40]:
print(my_list.pop())
print(my_list)

2
[1]

In [41]:
# 주어진 값과 일치하는 첫 번쨰 원소를 삭제
my_list = [1, 2, 3, 10, 1, 2, 3, 10]
my_list.remove(10)
print(my_list)

[1, 2, 3, 1, 2, 3, 10]

#### 리스트 정렬하기

In [42]:
# 순서 뒤집기
my_list = [1, 7, 5, 3, 9]
my_list.reverse()
print(my_list)

[9, 3, 5, 7, 1]

In [44]:
# 순차정렬
my_list = [2, 5, 1, 4 , 3]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5]

In [45]:
# 역순정렬
my_list = [2, 5, 1, 4, 3]
my_list.sort(reverse=True)
print(my_list)

[5, 4, 3, 2, 1]

#### 문자열을 잘라서 리스트로 변환하는 함수

In [46]:
# 문자열을 주어진 글자를 기준으로 잘라서 리스트로 변환
# -> 문자열 객체에 포함된함수 사용
text = "Hello, Python, Wrold, Good"
mylist = text.split(",")
print(mylist)

['Hello', ' Python', ' Wrold', ' Good']

#### 튜플
기본적으로 리스트와 동일한 특성을 갖는다

In [47]:
# 5명의 학생에 대한 성적 나열
grade = (98, 82, 73, 64, 100)
print(grade)

(98, 82, 73, 64, 100)

In [48]:
# 각 학생의 이름에대한 나열
names = ("철수", "영희", "나영", "민식", "호영")
print(names)

('철수', '영희', '나영', '민식', '호영')

In [49]:
# 자료형에 대한 혼합 사용도 가능
stud1 = ("철수", 98)
print(stud1)

('철수', 98)

In [50]:
# 값 읽기
print(stud1[0])
print(stud1[1])

철수
98