#### 딕셔너리 정의하기
이름(key)와 값(value)가 쌍을 이루는 자료 구조

In [1]:
dic = {"name": "철수", "phone": "010-1234-5678", "birth": "0115"}
print(dic)

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0115'}

#### 특정 원소에 접근하기

In [3]:
# 특정 우너소에 접근하기 -> 직접출력
print(dic["name"])

철수

In [4]:
# 특정 원소에 접근하기 -> 다른변수에 복사
phone = dic["phone"]
print(phone)

010-1234-5678

In [5]:
# 특정원소의 값을 변경
dic["name"] = "호영"
print(dic["name"])

호영

#### 특정 원소 삭제하기

In [6]:
# -> key가 birth인 데이터 삭제
del(dic["birth"])
print(dic)

{'name': '호영', 'phone': '010-1234-5678'}

#### 리스트 사용 제약

In [7]:
# 존재하지 않는 키의 값을 사용하면 에러
print(dic["weight"])

KeyError: 'weight'

In [8]:
# 존재하지 않는 키에 값을 할당하면 확장
dic["height"] = 173
print(dic)

{'name': '호영', 'phone': '010-1234-5678', 'height': 173}

In [10]:
# 키가 중복될 경우 하나를 제외한 나머지는 무시됨.
# -> 일반적으로 나중에 정의된 항목이 이전에 정의된 항목을 덮어씀
data = {"msg": "hello", "msg": "world", "msg": "python"}
print(data["msg"])

python

#### 정보의 계층적 표현 (1)

In [12]:
# 딕셔너리는 리스트나 다른 딕셔너리를 포함할 수 있다.
# -> 정보를 계층화 해서 표현 가능함
addr = ["서울", "서초구", "강남대로"]
grade = {"korean": 98, "math": 77, "english": 82}

# 서로 다른 종류의 데이터를 저장할 수 있다.
member = {
    "userid": "python", # 문자열 데이터
    "age": 20,          # 정수형 데이터
    "addr": addr,       # 리스트 데이터
    "grade": grade      # 딕셔너리 데이터
}

print(member)

{'userid': 'python', 'age': 20, 'addr': ['서울', '서초구', '강남대로'], 'grade': {'korean': 98, 'math': 77, 'english': 82}}

In [13]:
# 계층화된 값에 접근하기
print(member["addr"][0])
print(member["grade"]["korean"])

서울
98

#### 정보의 계층적 표현 (2)

In [16]:
# 딕셔너리의 계층화 직접 표현
mydic = {
    "total": 1962,
    "city": ["서울", "대전", "광주"],
    "population": [987, 654, 321],
    "date": {"yy": 2018, "mm": 9, "dd": 10}
}

print(mydic)

{'total': 1962, 'city': ['서울', '대전', '광주'], 'population': [987, 654, 321], 'date': {'yy': 2018, 'mm': 9, 'dd': 10}}

In [17]:
print(mydic["city"][0])
print(mydic["population"][0])
print(mydic["date"]["yy"])

서울
987
2018

#### 딕셔너리를 원소로 갖는 리스트

In [18]:
# 리스트의 원소가 딕셔너리가 되는 경우 --> 표 자료형
grade = [
    {"name": "철수", "kor": 95, "eng": 88},
    {"name": "영희", "kor": 92, "eng": 90},
    {"name": "철민", "kor": 88, "eng": 76},
]

tpl = "{0}의 국어점수:{1}, 영어점수: {2}"
print(tpl.format(grade[0]["name"], grade[0]["kor"], grade[0]["eng"]))
print(tpl.format(grade[1]["name"], grade[1]["kor"], grade[1]["eng"]))
print(tpl.format(grade[2]["name"], grade[2]["kor"], grade[2]["eng"]))

철수의 국어점수:95, 영어점수: 88
영희의 국어점수:92, 영어점수: 90
철민의 국어점수:88, 영어점수: 76

#### 딕셔너리의 값을 반환하는 함수

In [19]:
# 샘플 데이터
dic = {"name": "철수", "phone": "010-1234-5678", "birth": "0115"}

In [20]:
# 특정 key에 대응하는 값 얻기
# -> dic["name"]과 동일
print(dic.get("name"))

철수

In [21]:
# 존재하지 않는 key에 접근하는경우 --> None이 반환됨
print(dic.get("gender"))

None

In [22]:
# get함수는 전달하는 key가 존재하지 않을경우
# 대신 반환될 값을 함께 설정할 수 있다.
print(dic.get("gender", "남자"))

남자

#### key를 분리하기

In [24]:
# Key만 모아서 dict_keys라는 객체로 반환
keys = dic.keys()
print(keys)

dict_keys(['name', 'phone', 'birth'])

In [25]:
# dict_keys를 list로 변환
key_list = list(keys)
print(key_list)

['name', 'phone', 'birth']

#### value를 분리하기

In [26]:
# Values만 모아서 dic_values 객체로 반환
values = dic.values()
print(values)

dict_values(['철수', '010-1234-5678', '0115'])

In [27]:
# dic_values를 list로 변환
value_list = list(values)
print(value_list)

['철수', '010-1234-5678', '0115']

#### key와 value를 쌍으로 분리하기

In [30]:
# key-value를 쌍으로 묶은 튜플들의 모음인 dict_items객체 얻기
items = dic.items()
print(items)

dict_items([('name', '철수'), ('phone', '010-1234-5678'), ('birth', '0115')])

In [31]:
lists = list(items)
print(lists)

[('name', '철수'), ('phone', '010-1234-5678'), ('birth', '0115')]