In [1]:
import pymysql
import pandas as pd

#### 데이터베이스 접속하기

In [2]:
dbcon = pymysql.connect(host="localhost", 
                        port=3306, 
                        user="root", 
                        password="root", 
                        db="myschool", charset="utf8")

#### 커서객체 생성
SQL을 실행하는 기능을 갖는 커서 객체를 생성하고, 
커서 객체의 execute() 함수에 사용하여 SQL문을 파라미터로 전달한다.

In [3]:
cursor = dbcon.cursor()

#### 데이터 저장하기

In [4]:
# 1401호의 Python 학과 데이터 저장하기

# 저장할 데이터 설정
dname = 'python'
loc = '1401호'

# 저장을 위한 SQL 실행(문자열 데이터도 홑따옴표 사용 안함)
sql = "INSERT INTO department (dname, loc) VALUES (%s, %s)"
cursor.execute(sql, (dname, loc))

# insert시에 생성된 Primary key 얻기
# -> 반드시 commit전에 조회해야 한다. (UPDATE, DELETE는 불필요)
new_deptno = dbcon.insert_id()
print("생성된 학과 번호 : %d" % new_deptno)

# 변경사항 저장하기
dbcon.commit()

생성된 학과 번호 : 341

#### 데이터 수정하기

In [5]:
# 1401호 Python학과의 데이터 수정하기

# 수정할 데이터 설정
dname = '빅데이터'
loc = '공학관'

# 수정을 위한 SQL 실행(문자열 데이터도 홑따옴표 사용 안함)
sql = "UPDATE department SET dname=%s, loc=%s WHERE deptno=%s"
edit_count = cursor.execute(sql, (dname, loc, new_deptno))

print("수정된 데이터 수: %d" % edit_count)

# 변경사항 저장하기
dbcon.commit()

수정된 데이터 수: 1

#### 데이터 삭제하기

In [6]:
# 1401호 Python 학과의 데이터 삭제하기

# 삭제를 위한 SQL 실행
sql = "DELETE FROM department WHERE deptno=%s"
delete_count = cursor.execute(sql, (new_deptno))
print("삭제된 데이터 수 : %d" % delete_count)

# 변경사항 저장하기
dbcon.commit()

삭제된 데이터 수 : 1

#### 다중행 데이터 조회하기

In [7]:
# 전체 학과 목록 조회하기
# SQL 실행 후 cursor 객체의 fetchall() 함수를 호출하면 
# 조회 결과를 2차원 튜플 타입으로 리턴받을 수 있다.

# e다중행 조회를 위한 SQL 실행
sql = "SELECT deptno, dname, loc FROM department"
cursor.execute(sql)

# 조회 결과 전체를 딕셔너리를 원소로 갖는 리스트로 변환
result = cursor.fetchall()
result

((101, '인터넷통신학과', '7호관'),
 (102, '멀티미디어학과', '2호관'),
 (103, '인터넷정보과', '5호관'),
 (201, '정보통신학과', '통신관'),
 (202, '기계공학과', '4호관'),
 (205, 'MySQL학과', '5호관'),
 (305, '정보통신과', '공학관'),
 (328, '신규학과', None),
 (329, '신규학과', None),
 (330, '신규학과', None),
 (331, '신규학과', None),
 (332, '신규학과', None),
 (334, '신규학과', None),
 (335, '기계공학과', '공학관'),
 (336, '스프링학과', '2강의실'),
 (337, '스프링학과', '2강의실'),
 (338, '신규학과', None),
 (339, 'python', '1401호'))

#### 데이터 조회 결과를 딕셔너리 형태로 반환받기

In [8]:
# 딕셔너리를 반환받기 위한 커서 객체 생성하기
cursor = dbcon.cursor(pymysql.cursors.DictCursor)

#### 단일행 데이터 조회

In [10]:
# DictCursor는 SELECT 조회 결과에 대해 컬럼이름이 KEY가 되고
# 데이터가 value가 되는 딕셔너리를 반환한다.

# 단일행 조회를 위한 SQL구문 형식 설정
# -> 변수로 치환할 부분은 무조건 %s사용 (숫자값이더라도 %s)
sql = """SELECT deptno AS `학과번호`, dname AS `학과이름`, loc AS `학과위치` 
       FROM department WHERE deptno=%s"""

# %d에 101이라는 값을 적용하여 SQL 실행
# -> sql구문에 치환문자가 없을 경우 두 번째 파라미터는 생략 가능함.
cursor.execute(sql, (202))

# 조회 결과 한 줄을 딕셔너리로 변환
result = cursor.fetchone()
result

{'학과번호': 202, '학과이름': '기계공학과', '학과위치': '4호관'}

#### 다중행 데이터 조회

In [11]:
# 다중행 조회에 대한 결과는 딕셔너리를 원소로갖는 리스트를 반환한다.

# 다중행 조회를 위한 SQL 실행
sql = "SELECT deptno, dname, loc FROM department"
cursor.execute(sql)

# 조회 결과 전체를 딕셔너리를 원소로 갖는 리스트로 변환
result = cursor.fetchall()
result

[{'deptno': 101, 'dname': '인터넷통신학과', 'loc': '7호관'},
 {'deptno': 102, 'dname': '멀티미디어학과', 'loc': '2호관'},
 {'deptno': 103, 'dname': '인터넷정보과', 'loc': '5호관'},
 {'deptno': 201, 'dname': '정보통신학과', 'loc': '통신관'},
 {'deptno': 202, 'dname': '기계공학과', 'loc': '4호관'},
 {'deptno': 205, 'dname': 'MySQL학과', 'loc': '5호관'},
 {'deptno': 305, 'dname': '정보통신과', 'loc': '공학관'},
 {'deptno': 328, 'dname': '신규학과', 'loc': None},
 {'deptno': 329, 'dname': '신규학과', 'loc': None},
 {'deptno': 330, 'dname': '신규학과', 'loc': None},
 {'deptno': 331, 'dname': '신규학과', 'loc': None},
 {'deptno': 332, 'dname': '신규학과', 'loc': None},
 {'deptno': 334, 'dname': '신규학과', 'loc': None},
 {'deptno': 335, 'dname': '기계공학과', 'loc': '공학관'},
 {'deptno': 336, 'dname': '스프링학과', 'loc': '2강의실'},
 {'deptno': 337, 'dname': '스프링학과', 'loc': '2강의실'},
 {'deptno': 338, 'dname': '신규학과', 'loc': None},
 {'deptno': 339, 'dname': 'python', 'loc': '1401호'}]

#### 데이터 조회 결과를 데이터프레임으로 변환하기

In [13]:
# 학과 목록 데이터 프레임 생성하기
df = pd.DataFrame(result)
df2 = df.set_index('deptno')
df2

          dname    loc
deptno
101     인터넷통신학과    7호관
102     멀티미디어학과    2호관
103      인터넷정보과    5호관
201      정보통신학과    통신관
202       기계공학과    4호관
205     MySQL학과    5호관
305       정보통신과    공학관
328        신규학과   None
329        신규학과   None
330        신규학과   None
331        신규학과   None
332        신규학과   None
334        신규학과   None
335       기계공학과    공학관
336       스프링학과   2강의실
337       스프링학과   2강의실
338        신규학과   None
339      python  1401호