## 문자열

In [1]:
# 쌍따옴표나 홑따옴표로 감싸야 한다. -> 따옴표의 혼용은 불가.
msg1 = "life is too short"
msg2 = "You need Python"
print(msg1)
print(msg2)

life is too short
You need Python

In [2]:
# 문자열의 덧셈은 문자열을 연결하는 기능
print(msg1 + "," + msg2)

life is too short,You need Python

In [3]:
# 문자열과 숫자의 곱셈을 동일내용을 여러번 반복한다.
name = "Python"
print(name * 5)

PythonPythonPythonPythonPython

In [4]:
# 따옴표로 감싸면 무조건 문장.
# -> 숫자가 아니므로 연산결과도 문자열 연산규칙을 따른다.
pay = "200000"
bonus = "100"
print(pay + bonus)

200000100

### 이스케이프 문자열 사용하기

In [5]:
# 쌍따옴표 안에 쌍따옴표 넣기 
case1 = "Life is \"too\" short"
print(case1)

Life is "too" short

In [6]:
# 홑따옴표 안에 홑따옴표 넣기 
case2 = 'Life is \'too\' short'
print(case2)

Life is 'too' short

In [7]:
# 따옴표의 쌍을 조절하는 방법
case3 = "You 'need' Python"
print(case3)

You 'need' Python

In [8]:
case4 = 'You "need" Python'
print(case4)

You "need" Python

In [9]:
# 줄바굼 => \n
print("Life is too short\nYou need Python")

Life is too short
You need Python

In [10]:
# 탭키 => \t
print("Life is too short\tYou need Python")

Life is too short	You need Python

In [11]:
# 순수한 역슬래시 출력 => \\
print("Life is too short\\You ned Python")

Life is too short\You ned Python

### 문자열 인덱싱

In [12]:
str = "Life is too short, You need Python"

# 3번째 문자열 추출 -> 0부터 카운트
print(str[3])

e

In [13]:
# 뒤에서 3번째 글자 추출 ==> -1 부터 카운트
# (뒤에서 0과 -0은 같은 값이기 때문)
print(str[-3])

h

### 문자열 슬라이싱

In [14]:
# 앞에서 0번째 부터 3번째 전까지의 문자열 추출
print(str[0:3])

Lif

In [15]:
# 앞에서 5번째 부터 7번째 전까지의 문자 추출
print(str[5:7])

is

In [16]:
# 앞에서 19번째부터 끝까지 추출
print(str[19:])

You need Python

In [17]:
# 처음부터 앞에서 17번째 까지의 문자추출
print(str[:17])

Life is too short

In [18]:
# 처음부터 끝까지 추출
print(str[:])

Life is too short, You need Python

In [19]:
# 앞에서 19번째부터 뒤에서 -7번째 다음까지 추출
print(str[19:-7])

You need

### 문자열 슬라이싱 활용 예시

In [20]:
# [응용] 글자수가 정해져 있는 경우 활요도 높음
# ex) "80년05월27일 남자"의 주민번호 일부
jumin = "8005271"
birth = jumin[:6]
gender = jumin[6:]
print(birth)
print(gender)

800527
1

In [21]:
# 태어난 년도, 월, 일
year = "19" + birth[:2]
month = birth[2:4]
day = birth[4:6]
print(year)
print(month)
print(day)

1980
05
27