#### CSV 입출력
CSV 파일 저장을 위한 데이터와 형식 준비

In [1]:
# 한 학급의 성적표 데이터 예시
grade = [
    {"name": "철수", "kor": 95, "eng": 88, "math": 72},
    {"name": "영희", "kor": 92, "eng": 90, "math": 95},
    {"name": "철민", "kor": 88, "eng": 76, "math": 64}
]

# CSV 파일의 한 행에 대한 구문 형식 정의
tpl = "{0},{1},{2},{3}\n"

#### CSV 파일 저장하기

In [2]:
# csv 파일 저장을 위한 f객체 생성
# -> Excel의 csv는 euc-kr 형식
with open("grade.csv", "w", encoding='euc-kr') as f:
    # 첫 줄에 각 항목의 제목 기록
    f.write("이름,국어,영어,수학\n")

    # 각 데이터를 한 줄씩 콤마로 구분하여 기록
    for item in grade:
        tmp = tpl.format(item["name"], item["kor"], item["eng"], item["math"])
        f.write( tmp )

#### CSV 파일 읽어들이기

open() 함수를 사용하여 csv 파일을 읽기 위한 f 객체를 생성하고, readlines() 함수를 사용하여 파일의 내용을 리스트 형태로 가져온다.

In [3]:
# 읽어들인 내용을 저장하기 위한 빈 변수 생성
csv_list = None

# grade.csv 파일에 대한 파일 객체를 읽기 모드로 생성
with open("grade.csv", "r", encoding='euc-kr') as f:
    # 파일의 각 행을 원소로 갖는 리스트 생성
    csv_list = f.readlines()

# 결과 출력하기
print(csv_list)

['이름,국어,영어,수학\n', '철수,95,88,72\n', '영희,92,90,95\n', '철민,88,76,64\n']

#### 읽어들인 내용을 토대로 결과 산출하기

In [4]:
 for i, line in enumerate(csv_list):
    # 첫 행은 제목이므로 건너뛴다.
    if i == 0:
        continue
    
    # 현재 행의 내용을 콤마를 기준으로 잘라서 리스트로 변환
    # "철민,88,76,64".split(",") ==> ["철민","88","76","64"]
    item = line.strip().split(",")

    # 이름과 점수로 분리 -> 점수는 정수형으로 변환
    name  = item[0]
    kor   = int(item[1])
    eng   = int(item[2])
    math  = int(item[3])
    total = kor + eng + math    # 총점
    avg   = total / 3           # 평균

    # 결과출력
    tpl = "{0}의 총점은 {1}점이고 평균은 {2:0.2f}점 입니다."
    print(tpl.format(name, total, avg))

철수의 총점은 255점이고 평균은 85.00점 입니다.
영희의 총점은 277점이고 평균은 92.33점 입니다.
철민의 총점은 228점이고 평균은 76.00점 입니다.

#### 다른 형식의 데이터를 CSV로 저장하기

In [25]:
# 저장을 위한 자료구조 정의
grade_dic = {
    '이름': ['철수', '영희', '민철', '수현', '호영'],
    '국어': [98, 88, 92, 63, 120],
    '영어': [76, 90, 70, 60, 50],
    '수학': [88, 62, 88, 31, 76],
    '과학': [64, 72, 45, 70, 88]
}

# 한 줄에 대한 템플릿
tpl = "{0},{1},{2},{3},{4}\n"

In [26]:
keys = list(grade_dic.keys())   # 딕셔너리의 키를 리스트로 변환

p = ","
title = p.join(keys)  # keys리스트 사이에 쉼표를 넣어 문자열로 변환

with open("grade2.csv", "w", encoding='euc-kr') as f:
    # 첫 줄에 각 항목의 제목 기록
    f.write(title + "\n")

    # 각 데이터를 한 줄씩 콤마로 구분하여 기록
    for i in range(0, len(grade_dic['이름'])):
        tmp = tpl.format(grade_dic['이름'][i], grade_dic['국어'][i],
                         grade_dic['영어'][i], grade_dic['수학'][i],
                         grade_dic['과학'][i])
        f.write( tmp )

In [34]:
import pandas as pd

In [35]:
data = pd.read_csv("grade2.csv", encoding="cp949")

In [36]:
data[]

   이름   국어  영어  수학  과학
0  철수   98  76  88  64
1  영희   88  90  62  72
2  민철   92  70  88  45
3  수현   63  60  31  70
4  호영  120  50  76  88

In [37]:
data.to_csv('file_name.csv', encoding='cp949')